*.db*
server/
data/import/
data/reports/
node_modules/
.vscode/
.env
testing/
Public/resources
myrv-serviceaccount-credentials.json
*.csv
google/token.json
google/email-data-map.json
google/oauth-credentials.json
google/failed-emails.json