header {
  width: 100%;
  overflow: hidden;
}

.header-logo-img {
  max-width: 350px;
  margin-top: .75rem;
}

.header-nav-menu-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.header-nav-list-item {
  margin: 0 10px;
  padding: 0;
}

.header-nav-list-item > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 10pt;
  transition: 0.3s;
}

.header-nav-list-item > a:hover {
  color: #ffcc00;
}

.header-nav-list-item > a.active {
  color: #ffcc00;
  text-decoration: underline;
}

li {
  display: block;
}

li:hover {
  cursor: pointer;
}

ul.header-nav-menu-list li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 0.3s;
  padding: 5px;
  width: 138px;
  background-color: rgba(61, 66, 93, 0.8);
  border-radius: 10px;
}

ul.header-nav-menu-list li ul.actions {
  right: max(calc(50% - 410px), 10px);
}

ul.header-nav-menu-list li ul.google {
  right: max(calc(50% - 348px), 70px);
}

ul.header-nav-menu-list li:hover ul,
ul.header-nav-menu-list li ul:hover,
ul.header-nav-menu-list li ul:focus {
  visibility: visible;
  opacity: 1;
}

ul.header-nav-menu-list li:focus-within ul {
  visibility: visible;
  opacity: 1;
}

ul.header-nav-menu-list li ul li {
  clear: both;
  width: 100%;
  padding: 3px 0;
  text-align: left;
}

ul.header-nav-menu-list li ul li a {
  text-decoration: none;
  font-size: 10pt;
  transition: 0.3s;
}

  ul.header-nav-menu-list li ul li:hover a {
    color: #ffcc00;
  }

  ul.header-nav-menu-list li ul li a.active {
  color: #ffcc00;
  text-decoration: underline;
  }

.boxInfo {
  max-width: 450px;
  margin: auto;
  border-radius: 10px;
  border: 2px solid #ffffff;
  padding: 12px 4px;
}

.boxInfo h3, .boxInfo h3 a {
  margin: 0;
  margin-bottom: 7px;
  text-decoration: underline;
  font-style: normal;
}

.boxInfo table {
  border: none;
  margin: auto;
}

.boxInfo td, .boxInfo th {
  border: none;
  padding: 5px 20px;
  text-align: left;
}

.boxInfo th {
  font-weight: bold;
}