.info {
  text-align: left;
  margin: auto;
  max-width: 500px;
  font-style: italic;
}

.info p:first-child {
  font-weight: bold;
  margin-bottom: 20px;
}

.info p {
  text-align: justify;
  margin: 10px 0px;
}

.info ol {
  list-style: decimal;
}

.info ol li {
  display: list-item;
  padding: 4px 15px;
  cursor: default;
}

.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.popup-overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 150px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 75%;
  max-width: 500px;
  position: relative;
  transition: all 5s ease-in-out;
  color: #232d47;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #9b9b9b;
}

.popup .close:hover {
  color: #232d47;
}


@media only screen and (max-width: 674px) {
  .floatingBox {
    width: min-content;
  }
}

@media only screen and (min-width: 675px) {
  .floatingBox {
    width: min-content;
  }
}