@media only screen and (max-width: 819px) {
    .header-nav-menu {
        margin: auto;
        padding: 2rem 0;
        text-align: center;
        float: none;
        display: block;
        width: 245px;
    }
    .header-logo {
        display: block;
        margin: auto;
        float: none;
        margin-top: 0.55rem;
        margin-left: 1.5rem;
        text-align: center;
    }
}


@media only screen and (min-width: 820px) {
    .header-nav-menu {
        margin-right: 1rem;
        padding: 2rem 0;
        text-align: center;
        float: right;
    }
    .header-logo {
        display: block;
        float: left;
        margin-top: 0.55rem;
    }
}