table.table {
    border: 3px solid #f7f7f7;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    min-width: 300px;
    width: 95%;
    max-width: 750px;
}

table.table th {
    border: 1px solid #f7f7f7;
    border-bottom: 2px solid #f7f7f7;
    font-weight: bold;
    padding: 5px 3px;
    max-width: 50%;
    min-width: 20%;
}

table.table td {
    border: 1px solid #f7f7f7;
    padding: 8px 10px;
    width: fit-content;
    text-align: center;
}