div(class="form-section", id="vinForm")
    h2 Please Enter Either the Vin or the Build Number
    p(class=["error", "hide"], id="enterInputError") Please enter either a Vin or Build Number.
    p(class=["error", "hide"], id="generalUnknownError") The Vin or Build Number did not match any known.
    p(class=["error", "hide"], id="unauthorisedError")
        | Sorry, it appears you connection has timed out. Please 
        a(href="/login") Login
        |  again.
    .form
        label(for="vinInput",  id="vinInputLabel") VIN
        div(class="textInput")
            input(type="text", id="vinInput", class="validate", name="vin", value="ZFA2500000", pattern="ZFA2500000.......", data-pattern-err-msg="VIN requires 17 characters.")
        span(class="errorMessage", id="vinInputError")
        br
        label(for="buildNoInput", id="buildNoInputLabel") Build Number
        div(class="textInput")
            input(type="text", id="buildNoInput", class="validate", name="buildNo")
        span(class="errorMessage", id="buildNoInputError")
        br
        input(type="button", value="Submit", id="vehicleIdSubmitBtn", class="submitBtn")