div(class="form-section", id="detailsForm")
    include ../templates/vehicle-heading
    h2 Your Details
    .form
        label(for="nameInput", class="required-label inlineP", id="nameInputLabel") Name
        input(type="button", value="Clear All", id="clearBtn", class="aButton")
        div(class="textInput")
            input(type="text", id="nameInput", name="name", class="validate", required)
        span(class="errorMessage", id="nameInputError")
        br
        label(for="phoneInput", class="required-label", id="phoneInputLabel") Phone
        div(class="textInput")
            input(type="text", id="phoneInput", name="phone", class="validate phone", pattern="(04[0-9]{2} [0-9]{3} [0-9]{3})|(0[1-3|5-9] [0-9]{4} [0-9]{4})", required)
        span(class="errorMessage", id="phoneInputError")
        br
        label(for="emailInput", class="required-label", id="emailInputLabel") Email
        div(class="textInput")
            input(type="email", id="emailInput", name="email", class="validate", required)
        span(class="errorMessage", id="emailInputError")
        br
        label(for="streetInput", id="streetInputLabel") Postal Address
        div(class="textInput")
            input(type="text", id="streetInput", name="street", class="validate", placeholder="Street")
        span(class="errorMessage", id="streetInputError")
        div(class="textInput")
            input(type="text", id="suburbInput", name="suburb", class="validate", placeholder="Suburb")
        span(class="errorMessage", id="suburbInputError")
        div(class="textInput")
            select(id="stateInput", name="state", class="validate dropdown")
                option(value="", selected, disabled, hidden) State
                option(value="ACT") Australian Capital Territory 
                option(value="NSW") New South Wales
                option(value="NT") Northern Territory
                option(value="Qld") Queensland
                option(value="SA") South Australia
                option(value="Tas") Tasmania
                option(value="Vic") Victoria 
                option(value="WA") Western Australia 
        span(class="errorMessage", id="stateInputError")
        div(class="textInput")
            input(type="text", id="postcodeInput", name="postcode", class="validate", pattern="[0-9]{4}", placeholder="Postcode")
        span(class="errorMessage", id="postcodeInputError")
        br
        label(for="regoNInput", id="streetInputLabel") Registration Details
        div(class="textInput")
            input(type="text", id="regoNoInput", name="regoNo", class="validate", placeholder="Registration Plate Number")
        span(class="errorMessage", id="regoNoInputError")
        div(class="textInput")
            select(id="regoStateInput", name="regoState", class="validate dropdown")
                option(value="", disabled, selected, hidden) State of Registration
                option(value="ACT") Australian Capital Territory 
                option(value="NSW") New South Wales
                option(value="NT") Northern Territory
                option(value="Qld") Queensland
                option(value="SA") South Australia
                option(value="Tas") Tasmania
                option(value="Vic") Victoria 
                option(value="WA") Western Australia 
        span(class="errorMessage", id="regoStateInputError")
        div(class="textInput")
            input(type="date", id="regoDtInput", name="regoDt", class="validate", pattern="29052025" placeholder="Date of Registration")
        span(class="errorMessage", id="regoDtInputInputError")
        br
        input(type="button", value="Submit", id="detailsSubmitBtn", class="submitBtn")
    br
    p If you have any difficulty in completing this form please email us at 
        a(href="mailto:info@myrv.com.au") info@myrv.com.au.