extends ../templates/main-layout

block js
    script(src="/js/valid.js")
    script(src="/js/form-funcs.js")
    script(src="/js/rv-form.js")
    script.
        toBeValidated = [
            'vinInput',
            'buildNoInput'
        ];

block content
    include ./verification-form