div(id="successMessage")
    h1 Your data was successfully submitted
    p Thank you for taking the time to register your vehicle with us. 
        | Registering your details means we can contact you quickly 
        | in the event that there is any update regarding your vehicle.
    p Have a great time on the road!