div(id="successMessage")
    h1 Your data was successfully submitted
    h3
        | Thank you for taking the time to fill out the ownership form.
        | You should have been sent an email with the data you entered.
        | Please quickly check that just to confirm it is correct.
        | If there are any problems, you can always just submit this form again.