div(class="form-section", id="verificationForm")
    h2 Enter Your Motorhome Details
    p(class=["error", "hide"], id="generalUnknownError") The Vin or Build Number did not match any known.
    p(class=["error", "hide", "Error0"], id="persistingUnknownError") If your details cannot be found, please contact 
        a(href="mailto:info@myrv.com.au") info@myrv.com.au
        |  for assistance.
    .form
        -
            let vinFill = 'ZFA2500000';
            if (vin != undefined && vin != null && vin != '') {
                vinFill = vin
            }
        label(for="vinInput", class="required-label", id="vinInputLabel") VIN
        div(class="textInput")
            input(type="text", id="vinInput", class="validate", name="vin", value=vinFill, pattern="ZFA2500000.......", required, data-pattern-err-msg="VIN requires 17 characters.")
        span(class="errorMessage", id="vinInputError")
        br
        label(for="buildNoInput", class="required-label", id="buildNoInputLabel") Build Number
        div(class="textInput")
            input(type="text", id="buildNoInput", class="validate", name="buildNo", required)
        span(class="errorMessage", id="buildNoInputError")
        br
        input(type="button", value="Submit", id="verificationSubmitBtn", class="submitBtn")