.floatingBox
    div(class=["boxInfo", (healthData.auth=='Expired' || healthData.failedEmails>0 ? 'redAlert' : '')])
        h3
            a Google Account/Email Health
        table
            tr
                th Authentication:
                td #{healthData.auth}
            tr
                th Account:
                td #{healthData.account}
            tr
                th Active Auto Emails:
                td #{healthData.numEmails}
            tr
                th Failed Emails:
                td #{healthData.failedEmails}