div(id="successMessage")
    if created
        h1 The Email was Successfully Created
    else if updated
        h1 The Email was Successfully Updated
    else
        h1 The Email was Successfully Deleted
    h3 You may now wish to return to the 
            a(href="/workshop/admin/google/actions") Google Actions Page
            |  or the 
            a(href="/workshop/admin/google/view-auto-emails") View Auto Emails Page.