div(class="form-section", id="vinForm")
    h2 Enter the Motorhome Details
    p(class=["error", "hide"], id="generalUnknownError") The Vin did not match any known.
    p(class=["error", "hide", "Error0"], id="persistingUnknownError") If the details cannot be found, please contact 
        a(href="mailto:info@myrv.com.au") info@myrv.com.au
        |  for assistance.
    .form
        label(for="vinInput", class="required-label", id="vinInputLabel") VIN
        div(class="textInput")
            input(type="text", id="vinInput", class="validate", name="vin", value="ZFA2500000", pattern="ZFA2500000.......", required, data-pattern-err-msg="VIN requires 17 characters.")
        span(class="errorMessage", id="vinInputError")
        br
        input(type="button", value="Submit", id="vinSubmitBtn", class="submitBtn")
    br
    br
    div(class="info")
        p Please advise Owners of the following:
        p The issues to be addressed in the recall are as follows:
        ol
            li There is no issue with the gas appliances
            li The major issue is of ventilation of combustion products from use of gas cooker
            li In all models other than Imalas the gas cylinder locker requires modification
            li Labels in the motorhome will be brought up to the wording from the current gas standard
        p It is safe to continue using the motorhome, however if the gas cooker is used then it would be best to open a vent, window or door to assist in ventilation.
        p Please organise a date when you can be at an Elite RV Service centre to have the items rectified at no cost to yourself (the owner).