div(id="successMessage")
    h1 Your data was Successfully Submitted
    h3
        | Thank you for taking the time to fill out the Contact form. 
        a(href="/workshop/contact") Click Here
        |  to submit another Contact form.